body{
	margin: 0px;
}

#content{
	width: 80%;
	margin-top:10px;
	margin-bottom:10px;
	background-color: rgb(255, 255, 255);
	font-family: 'ProximaNovaSB', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	padding: 0px 20px;
	margin-left: 150px;
	text-align: left;
	color: rgb(112, 112, 112);
}

/* HOME.PHP */
#content_nav{
	width: 100%;
	margin: 25px 21px;
}

.highlighted_text{
	color: rgb(68, 68, 68);
	font-weight: 800;
}

.normal_text{
	color: rgb(112, 112, 112);
	font-weight: 300;
}

#content_nav a{
	margin: 0px 20px;
	text-decoration: none;
	display: inline;
	font-size: 19px;
}

.poster_auctions_list{
	list-style-type: none;
	text-align: left;
	margin: 20px 0px;
}

.poster_auction_item_wrapper{
	width: 160px;
	padding: 21px 10px;
	float: left;
}

.poster_auction_item_wrapper div{
	float: left;
}

.nav_movie_item{
	width: 16px;
	height: 16px;
	background-size: cover;
	margin: 2px 4px;
	text-align: rigth;
	float: left;
}

.stats_user_movie{
	width: 21px;
	height: 21px;
	font-size: 12px;
	color: rgb(172, 172, 172);
	font-style: italic;
	margin: 5px 0 0 0;
}	

.like_img_0{
	background-image: url('./../img/like_0.png');
	background-size: cover;
}

.like_img_1{
	background-image: url('./../img/like_1.png');
	background-size: cover;
}

.dislike_img_0{
	background-image: url('./../img/dislike_0.png');
	background-size: cover;
}

.dislike_img_1{
	background-image: url('./../img/dislike_1.png');
	background-size: cover;
}

.to_watch_img_0{
	background-image: url('./../img/to_watch_0.png');
	background-size: cover;
}

.to_watch_img_1{
	background-image: url('./../img/to_watch_1.png');
	background-size: cover;
}

.check_img_0{
	background-image: url('./../img/check_0.png');
	background-size: cover;
}

.check_img_1{
	background-image: url('./../img/check_1.png');
	background-size: cover;
}

.poster_auction_item{
	width: 150px;
	height: 150px;
}

.poster_auction_item img{
	max-width:100%;
	max-height:100%;
	border-radius: 3px;
}

.detail_auction_item{
	width: 100%;
	letter-spacing: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

.detail_auction_item a{
	margin: 2px 0px;
	color: rgb(68, 68, 68);
	font-size: 14px;
	font-weight: bold;
	line-height: 2.5ex;
  	height: 2.5ex;
	text-decoration: none;
}

.detail_auction_item p{
	margin: 10px 0px;
	color: rgb(112, 112, 112);
	font-size: 14px;
	font-weight: 400;
	line-height: 2.5ex;
  	height: 2.5ex;
  	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
	text-align: center;
}

#detailed_auction_tab{
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 200;
	position: relative;
	top: 21px;
}

#left{
	width: 100%;
	margin: 20px 0px;
	float: center;
}

#left img{
	max-width:250px;
	border-radius: 5px;
}

#main{
	width: 100%;
	margin: 21px 0px;
	text-align: center
}

#detailed_auction_tab h1{
	margin-bottom: 10px;
	text-align: center;
	line-height: 40px;
	font-size: 32px;
	font-weight: 1200;
	color: rgb(48, 48, 48);
}

#detailed_auction_tab h2{
	margin: 0px;
	line-height: 30px;
	font-size: 21px;
	color: rgb(18, 18, 18);
	text-align: center;
}

#detailed_auction_tab h3{
	margin: 0px;
	line-height: 40px;
	font-size: 22px;
	color: rgb(172, 172, 172);
	font-style: italic;
}

#detailed_auction_tab p{
	margin: 0px;
	line-height: 40px;
	font-size: 15px;
	color: rgb(172, 172, 172);
	font-style: italic;
	width: 100%;
}

.title_stats{
	font-size: 18px;
	color: rgb(38, 38, 38);
	font-weight: 500;
}

.content_movie_wrapper{
	padding: 2px;
	margin: 25px 0;
}

.error{
	margin-top: 5px;
	margin-bottom: 5px;
	margin: auto;
	width: 50%;
	position: relative;
	background-color: rgba(255, 0, 0, 0.2);
	border: 1px solid rgba(255, 0, 0, 0.8);
	border-radius: 4px;
	color: rgb(132, 3, 3);
	text-align: center;
	text-shadow: 0 0 3px rgb(255, 255, 255);
	padding: 5px;
}

.warning{
	margin-top: 5px;
	margin-bottom: 5px;
	margin: auto;
	width: 50%;
	position: relative;
	background-color: rgba(255, 255, 0, 0.2);
	border: 2px solid rgba(162, 168, 5, 0.8);
	border-radius: 4px;
	color: rgb(197, 202, 40);
	text-align: center;
	text-shadow: 0 0 3px rgb(255, 255, 255);
	padding: 5px;
}

input.bid{
	width: 50%;
	text-align: center;
	margin-left: 5px;
}

p.bid {
	text-align:center;
}

input.single_bid {
	width: 30%;
	text-align: center;
}

.search_tf {
	margin-left: 30%;
	width: 30%;
	height: 21px;
}

.search_button {
	margin-left: 2%;
}

.bid_button {
	width: 90%;
	margin-top: 15px;
}

.single_bid_button {
	width: 35%;
	margin-top: 15px;
}

.single_follow_button {
	width: 80%;
	margin-left: 4%;
	margin-top: 15px;
}

.single_bid_button:hover, .single_follow_button:hover, .follow_button:hover, .bid_button:hover, .submit:hover {
	cursor :pointer;
}

.bid_table {
	margin-top: 10px;
	margin-left: 0%;
}

.single_bid_table {
	position: relative;
	left: 41%;
	top: 10px;
}

.form {
	margin-top: 21px;
	margin-left: 10px;
}

#sell_form {
	margin-left: 40%;
	margin-top: 50px;
}

.bid_state {
	position: relative;
	top: 30px;
	text-align: center;
}

#offers_bid_table {
	position: relative;
	left: 35%;
	top: 21px;
	border: medium solid #00f;
}
